<div class="container-fluid anchor bg-workandabout" id="workpage">
  <div class="resize intro">
<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
        color:red;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <div>About Nermin Market Flowers!</div>


<div class="fusion-clearfix"></div>
<div class="fusion-column-wrapper" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
    <span class="fusion-imageframe imageframe-none imageframe-1 hover-type-none"><a class="fusion-no-lightbox" href="/flowers" target="_self">
<img src="https://live-studleys.pantheonsite.io//wp-content/uploads/2015/06/flowers-2.png" alt="" class="img-responsive" width="" height="">
</a></span>
    <div class="fusion-sep-clear"></div>
    <div class="fusion-separator fusion-full-width-sep sep-none" style="margin-left: auto;margin-right: auto;margin-top:;margin-bottom:10px;"></div>
    <h2 class="p1" style="text-align: center;" data-fontsize="29" data-lineheight="29"><span class="h2-fancy-font"><a href="/flowers/">Flowers</a></span></h2>
   

  </body>
</html>
</div><!-- end workpage -->



