<div class="container-fluid anchor bg-workandabout" id="workpage">
  <div class="resize intro">
<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=decaying">
    <style>
      body {
        font-family: 'decaying', serif;
        font-size: 38px;
        color:blak;
        text-align:center;
      }
    </style>
  </head>
  <body>
    <div  class="glyphicon glyphicon-heart">ABOUT-US</div>
<article class="container">
  <div class="row"> 
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span><h2>EXPERIENCED STAFF</h2>
       <p>The experience of parents is transmitted by children</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><h2>EXPERT SELLING</h2>
        <p>Staff trained and experienced to deal with all types of customers</p>
    </div>
  </div>
  <div class="row">  
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span><h2>WORK TIME</h2>
        <p>Business services are available 24 hours a day</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><h2>OUR DIFFERANCE</h2>
       <p>Support your local demand! Our Hand Crafted flowers are designed by local Artisan Florists and delivered same day in as little as 2 hours.</p>
    </div>
  </div> 
 
</article>




  </body>
</html>
</div><!-- end workpage -->



