<div class="row">
  <h1>Welcome to Nermin Market</h1>
</div>
<div class="row">
  <%= image_tag("re.jpg", class: "img-responsive center-block img-prod col-md-4") %>
  <%= image_tag("re.jpg", class: "img-responsive center-block img-prod col-md-4") %>
  <%= image_tag("re.jpg", class: "img-responsive img-prod center-block col-md-4") %>
</div>
<div class="row">
  <h3>Your source of global flowers in the world</h3>
</div>

