//Page styling
//Landing_page



.image{
justify-content: center;
alig: center;
display: block;
margin: 0 auto;
}

//Carousel
#carousel-generic {
margin: 30px auto;
}

.carousel-inner {
  margin: auto;
}

.carousel-control {
  opacity: 7;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}  












