
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 38px;
        color:red;
        text-align:center;
      }
    </style>
<div class= container> 
    <div>  Create New Product</div><br>

<%= render 'form', product: @product %>

<%= link_to 'Back', products_path %>
